#h_upper .logo{
    margin:5px ; 
    font-size: 34px;
    font-weight: 900;
  }

.heading { 
  width: 100%;
    background-color: #34222e;
    font-size: 1.1rem;
    color: aliceblue;
    text-align: center;
  
}
.heading #h_upper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content:space-around;
}
.btn_ham{
  display:flex;
  justify-content: right;
  position: relative;
}
.heading .menu{
  display: none;
  width: 100%;
  flex-direction: column;
  align-self: center;
  position: absolute;
  background-color:#35343f;
  top:50%;
  width:auto;
  right:calc( 5vw + 30px);
  border-radius: 4px;
  /* border-top: 3px dashed #34222e; */
}
.heading .menu a:hover{
  background-color:#3329a6;
}
a{   
    padding: .6em 1.2em ;
    color: aliceblue;
    text-decoration: none;
}
a:hover{
  text-decoration:underline solid 2px;
}
/*--humburger icon css--*/
#ptogg{ 
  justify-self: right;
  align-self: center; 
}
.tr{
  background-color: #faf5f5;
  width: 100%;
  height: 100%;
  clip-path: polygon(10% 0%,0 10%,50% 10%,/*FIRST SEC*/
  50% 45%,40% 45%,30% 55%,50% 55%,/*MIDDLE SEC*/
  50% 90%,20% 90%,10% 100%,100% 100%,100% 90%,50% 90%,/*BOTTOM SEC*/
  50% 55%,100% 55%,100% 45%,50% 45%,/*MIDDLE SEC*/
  50% 10% ,100% 10%,100% 0%);/*FIRST SEC*/ 
}
.rt{
  background-color: #f5f5f5;
  width: 20px;
  height: 20px;
  clip-path: polygon(10% 5%,0 15%,40% 50%,
  0% 85%,10% 95%,50% 55%,
  90% 95%,99% 85%,60% 50%,
  99% 15%,90% 5%,50% 45%);
  margin: auto; 
}
/*--humburger icon css--*/

.top-footer{
  background-color: #1c1c1c;
  font-size: 1rem;
  color: aliceblue;
  padding: .7rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto;
}
.top-footer .cotext{
  padding:0;
  border:none;
  margin: .3rem;
}

.bottom-footer p{
  text-align: center;
  font-size:.8rem;
  margin: 0;
  padding: 10px;
  background-color: #0a0101;
  color: #cccccc;
}
div h2{
  margin: .5rem .2rem;
}

@media only screen and (min-width:586px){
    html{
        font-size: 108%;
    }
    .top-footer{
      grid-template-columns: 1fr 1fr;
    }
  }
@media only screen and (min-width:764px){
    .heading .menu{
      display:flex;
      background-color:transparent;
      flex-direction: row;
      top:0;
     }
     .heading  .menu a{
        margin: 1rem;
     }
     #ptogg{
       display: none;
     }
  }
@media only screen and (min-width:1054px){
  html{
    font-size: 112.5%;
  }
  .top-footer{
    font-size: 1.4;
    grid-template-columns: repeat(4,1fr);
  }
}
