.App {
  background-color: rosybrown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: calc(14px + 2vmin);
}
.repo_link{
  font-size: calc(14px + 4vmin);
  margin: 20px;
  color: white;
}
.wp{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wp .otherhead{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.wp .otherhead > div{
  display: flex;
  flex-direction: column;
  
}
.wp,.wp> div,.wp> div >div{
  padding: 0px;
  border:0px dashed rosybrown;
}